<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @pet.birthdate %>
</p>

<h5> Información de historiales de visita </h5>

<table class="table">
  <thead>
    <tr>
      <th>Weigth</th>
      <th>Height</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pet_histories.each do |pet_history| %>
      <tr>
        <td><%= pet_history.weigth %></td>
        <td><%= pet_history.height %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Weigth Average</th>
      <th>Height Average</th>
      <th>Weigth Max</th>
      <th>Height Max</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
      <td><%= @pet_average_weigth %></td>
      <td><%= @pet_average_height %></td>
      <td><%= @pet_max_weigth %></td>
      <td><%= @pet_max_height %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
